.asw_tooltip {
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

.asw_tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	right: 50%;
	margin-right: -60px;
	opacity: 0;
	transition: opacity 1s;
	font-size: 15px;
}

.asw_tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	margin-right: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.asw_tooltip .tooltiptext span {
	display: block;
}

.asw_tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.woocommerce-shipping-methods label {
	display: inline-block;
}
